n8n_social_autoposter.json
{
  "name": "AllFreeAlerts — Daily Social Media Auto-Poster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at Noon",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://allfreealerts.com/data.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-get-data",
      "name": "Get Latest Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === AllFreeAlerts Auto-Poster: Pick items + generate posts ===\n// Priority: NEW items first, then oldest recycled\n// Settlements: no-proof-needed first\n\nconst items = $input.all().map(i => i.json);\nconst allItems = Array.isArray(items[0]) ? items[0] : items;\n\n// --- Post history (stored in static data) ---\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.postHistory) staticData.postHistory = [];\nconst history = staticData.postHistory;\nconst postedTitles = new Set(history.map(h => h.title));\n\nfunction pickBest(candidates) {\n  if (candidates.length === 0) return null;\n  const neverPosted = candidates.filter(i => !postedTitles.has(i.title));\n  if (neverPosted.length > 0) {\n    const pick = neverPosted[Math.floor(Math.random() * neverPosted.length)];\n    pick._pickReason = 'NEW';\n    return pick;\n  }\n  const withDates = candidates.map(i => {\n    const lastPost = history.filter(h => h.title === i.title).sort((a, b) => new Date(b.date) - new Date(a.date))[0];\n    return { item: i, lastPosted: lastPost ? new Date(lastPost.date) : new Date(0) };\n  }).sort((a, b) => a.lastPosted - b.lastPosted);\n  const pick = withDates[0].item;\n  pick._pickReason = 'RECYCLED';\n  return pick;\n}\n\n// Pick 1 per category\nconst picks = [];\nconst sweepPick = pickBest(allItems.filter(i => i.category === 'Sweepstakes'));\nif (sweepPick) picks.push(sweepPick);\n\nconst freebiePick = pickBest(allItems.filter(i => i.category === 'Freebies'));\nif (freebiePick) picks.push(freebiePick);\n\n// Settlements: no-proof first\nconst settlements = allItems.filter(i => i.category === 'Settlements');\nconst noProof = settlements.filter(i => i.proof_required === 'No' || i.proof_required === 'N/A');\nconst proofNeeded = settlements.filter(i => i.proof_required === 'Yes');\nconst unclear = settlements.filter(i => !i.proof_required || (i.proof_required !== 'No' && i.proof_required !== 'Yes' && i.proof_required !== 'N/A'));\nlet settlePick = pickBest(noProof);\nif (settlePick) { settlePick._proofStatus = 'NO PROOF NEEDED'; }\nelse { settlePick = pickBest(unclear); if (settlePick) settlePick._proofStatus = 'PROOF UNKNOWN'; }\nif (!settlePick) { settlePick = pickBest(proofNeeded); if (settlePick) settlePick._proofStatus = 'PROOF REQUIRED'; }\nif (settlePick) picks.push(settlePick);\n\n// --- Tweet templates (also used for X) ---\nconst tweetTemplates = {\n  Sweepstakes: [\n    (i) => `🎉 SWEEPSTAKES ALERT\\n\\n${i.title}\\n\\n${i.prize_summary ? i.prize_summary.slice(0,100)+'...' : 'Enter now for a chance to win!'}\\n\\n👉 allfreealerts.com\\n\\n#sweepstakes #giveaway #win #allfreealerts`,\n    (i) => `Win something amazing today! 🏆\\n\\n${i.title}\\n\\nFind it on 👉 allfreealerts.com\\n\\n#entertowin #sweepstakes #contest #free`,\n    (i) => `Don't miss this one 👀\\n\\n${i.title}\\n\\n${i.prize_summary ? i.prize_summary.slice(0,100) : 'Free to enter!'}\\n\\n👉 allfreealerts.com\\n\\n#giveaway #sweepstakes #win #allfreealerts`\n  ],\n  Freebies: [\n    (i) => `🆓 FREE STUFF ALERT\\n\\n${i.title}\\n\\nNo purchase necessary. Get yours before it's gone!\\n\\n👉 allfreealerts.com\\n\\n#freestuff #freebie #freesample #allfreealerts`,\n    (i) => `This is completely FREE 👇\\n\\n${i.title}\\n\\nNo credit card. No catch.\\n\\n👉 allfreealerts.com\\n\\n#free #freebie #freesample #freestuff`,\n    (i) => `Today's freebie find 🎁\\n\\n${i.title}\\n\\nGrab it while supplies last 👉 allfreealerts.com\\n\\n#freebies #freestuff #savemoney #allfreealerts`\n  ],\n  Settlements: [\n    (i) => `💰 CLASS ACTION ALERT\\n\\n${i.title}\\n\\n${i.payout ? '💵 Payout: ' + i.payout : 'You may be owed money!'}\\n${i._proofStatus === 'NO PROOF NEEDED' ? '✅ No proof of purchase needed!\\n' : ''}\\nFile your claim 👉 allfreealerts.com\\n\\n#classaction #settlement #freemoney #allfreealerts`,\n    (i) => `You might be owed money 💵\\n\\n${i.title}\\n${i.payout ? '\\n💰 ' + i.payout : ''}\\n${i._proofStatus === 'NO PROOF NEEDED' ? '✅ No receipt needed!\\n' : ''}\\nCheck if you qualify 👉 allfreealerts.com\\n\\n#settlement #classaction #moneytok #allfreealerts`,\n    (i) => `Don't leave money on the table!\\n\\n${i.title}\\n${i.payout ? '\\nPayout: ' + i.payout : ''}\\n${i._proofStatus === 'NO PROOF NEEDED' ? '\\n🙌 No proof needed — just file a claim!' : ''}\\n\\n👉 allfreealerts.com\\n\\n#classaction #freemoney #settlement`\n  ]\n};\n\n// --- Instagram caption templates (longer, more hashtags) ---\nconst igTemplates = {\n  Sweepstakes: [\n    (i) => `🎉 SWEEPSTAKES ALERT 🎉\\n\\n${i.title}\\n\\n${i.prize_summary ? '🏆 ' + i.prize_summary : 'Enter now for a chance to win!'}\\n\\n👉 Link in bio — allfreealerts.com\\n📱 Follow @allfreealerts for daily finds!\\n\\n#sweepstakes #giveaway #win #entertowin #contest #free #prizes #allfreealerts #sweepstakesalert #winprizes`,\n    (i) => `WIN something amazing today! 🏆✨\\n\\n${i.title}\\n\\n${i.prize_summary ? i.prize_summary : 'Free to enter — no purchase necessary!'}\\n\\n👉 allfreealerts.com (link in bio)\\n\\n#sweepstakes #giveaway #winbig #freeprizes #entertowin #contest #allfreealerts #dailygiveaway #freestuff`\n  ],\n  Freebies: [\n    (i) => `🆓 FREE STUFF ALERT 🆓\\n\\n${i.title}\\n\\nNo purchase necessary. No credit card. No catch.\\nGet yours before it's gone!\\n\\n👉 Link in bio — allfreealerts.com\\n📱 Follow @allfreealerts for daily freebies!\\n\\n#freestuff #freebie #freesample #free #nopurchasenecessary #freebies #savemoney #allfreealerts #freesamples #deals`,\n    (i) => `This is completely FREE 👇🎁\\n\\n${i.title}\\n\\nGrab it while supplies last!\\n\\n👉 allfreealerts.com (link in bio)\\n\\n#free #freebie #freesample #freestuff #savemoney #frugal #allfreealerts #dailydeals #freebiesusa`\n  ],\n  Settlements: [\n    (i) => `💰 CLASS ACTION SETTLEMENT 💰\\n\\n${i.title}\\n\\n${i.payout ? '💵 Payout: ' + i.payout + '\\n' : 'You may be owed money!\\n'}${i._proofStatus === 'NO PROOF NEEDED' ? '✅ No proof of purchase needed!\\n' : ''}\\nFile your claim today!\\n👉 Link in bio — allfreealerts.com\\n\\n#classaction #settlement #freemoney #moneytok #refund #claim #allfreealerts #classactionsettlement #easymoney #nocatchfree`,\n    (i) => `You might be owed money 💵💵\\n\\n${i.title}\\n${i.payout ? '\\n💰 ' + i.payout : ''}\\n${i._proofStatus === 'NO PROOF NEEDED' ? '✅ No receipt needed — just file a claim!\\n' : ''}\\nCheck if you qualify 👉 allfreealerts.com\\n\\n#settlement #classaction #freemoney #moneyhack #allfreealerts #refund #claimyourmoney`\n  ]\n};\n\n// --- Generate posts + QA ---\nconst posts = [];\nfor (const item of picks) {\n  // Tweet text\n  const catTweetTemplates = tweetTemplates[item.category] || tweetTemplates.Freebies;\n  const tweetTemplate = catTweetTemplates[Math.floor(Math.random() * catTweetTemplates.length)];\n  let tweetText = tweetTemplate(item);\n  if (tweetText.length > 280) tweetText = tweetText.slice(0, 277) + '...';\n\n  // IG caption (per-item, for single image posts)\n  const catIgTemplates = igTemplates[item.category] || igTemplates.Freebies;\n  const igTemplate = catIgTemplates[Math.floor(Math.random() * catIgTemplates.length)];\n  const igCaption = igTemplate(item);\n\n  // QA checks\n  const errors = [];\n  if (tweetText.length > 280) errors.push('Over 280 chars');\n  if (!item.title || item.title.trim() === '') errors.push('Missing title');\n  if (!tweetText.includes('allfreealerts.com')) errors.push('Missing link');\n  if (!tweetText.includes('#')) errors.push('Missing hashtags');\n  if (tweetText.includes('undefined') || tweetText.includes('null')) errors.push('Broken tweet text');\n  if (igCaption.includes('undefined') || igCaption.includes('null')) errors.push('Broken IG text');\n  if (errors.length > 0) continue;\n\n  posts.push({\n    category: item.category,\n    title: item.title,\n    prize_summary: item.prize_summary || '',\n    payout: item.payout || '',\n    tweetText: tweetText,\n    igCaption: igCaption,\n    link: item.link || 'https://allfreealerts.com',\n    pickReason: item._pickReason,\n    proofStatus: item._proofStatus || ''\n  });\n}\n\n// --- Facebook post text (combined daily roundup) ---\nlet fbText = '🔥 Today\\'s FREE Finds from AllFreeAlerts.com:\\n\\n';\nfor (const p of posts) {\n  if (p.category === 'Sweepstakes') {\n    fbText += `🎉 SWEEPSTAKES: ${p.title}\\n`;\n    if (p.prize_summary) fbText += `   ${p.prize_summary.slice(0, 100)}\\n`;\n  } else if (p.category === 'Freebies') {\n    fbText += `🎁 FREE: ${p.title}\\n`;\n  } else if (p.category === 'Settlements') {\n    fbText += `💰 SETTLEMENT: ${p.title}\\n`;\n    if (p.payout) fbText += `   Payout: ${p.payout}\\n`;\n    if (p.proofStatus === 'NO PROOF NEEDED') fbText += '   ✅ No proof needed!\\n';\n  }\n  fbText += '\\n';\n}\nfbText += '👉 See all deals at allfreealerts.com\\n';\nfbText += '📱 Follow us for daily alerts!';\n\n// Save to history\nconst now = new Date().toISOString().split('T')[0];\nfor (const p of posts) {\n  history.push({ title: p.title, category: p.category, date: now });\n}\n// Keep history manageable (last 500)\nif (history.length > 500) {\n  staticData.postHistory = history.slice(-500);\n}\n\nreturn [{\n  json: {\n    tweets: posts,\n    igPosts: posts,\n    fbText: fbText,\n    postCount: posts.length\n  }\n}];"
      },
      "id": "pick-and-create",
      "name": "Pick Items & Create Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Post each tweet to X/Twitter with OAuth 1.0a signing\nconst crypto = require('crypto');\n\nconst CONSUMER_KEY = 'hcHHkgItx9BJSC0lDzOxrBzKY';\nconst CONSUMER_SECRET = 'koo2rgcY5oghVHxTP6p01WNLtP22eitnp1kvMYO40Bmb0qZazP';\nconst ACCESS_TOKEN = '2037735445518229504-FI76g7VEpXu6LOn55wQ36OFnglh0yA';\nconst ACCESS_SECRET = '95iYsY2WZFcRSGmCpshYnnoY2Zpsy2XgGrYkHk2NJkwN4';\n\nfunction percentEncode(str) {\n  return encodeURIComponent(str).replace(/[!'()*]/g, c => '%' + c.charCodeAt(0).toString(16).toUpperCase());\n}\n\nfunction signRequest(method, url, params) {\n  const sorted = Object.keys(params).sort().map(k => `${percentEncode(k)}=${percentEncode(params[k])}`).join('&');\n  const base = `${method}&${percentEncode(url)}&${percentEncode(sorted)}`;\n  const key = `${percentEncode(CONSUMER_SECRET)}&${percentEncode(ACCESS_SECRET)}`;\n  return crypto.createHmac('sha1', key).update(base).digest('base64');\n}\n\nconst data = $input.first().json;\nconst tweets = data.tweets || [];\nconst results = [];\n\nfor (const post of tweets) {\n  const url = 'https://api.twitter.com/2/tweets';\n  const oauthParams = {\n    oauth_consumer_key: CONSUMER_KEY,\n    oauth_nonce: crypto.randomBytes(16).toString('hex'),\n    oauth_signature_method: 'HMAC-SHA1',\n    oauth_timestamp: Math.floor(Date.now() / 1000).toString(),\n    oauth_token: ACCESS_TOKEN,\n    oauth_version: '1.0'\n  };\n  oauthParams.oauth_signature = signRequest('POST', url, oauthParams);\n  const authHeader = 'OAuth ' + Object.keys(oauthParams).sort().map(k => `${percentEncode(k)}=\"${percentEncode(oauthParams[k])}\"`).join(', ');\n\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: url,\n      headers: { 'Authorization': authHeader, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ text: post.tweetText })\n    });\n    results.push({ category: post.category, status: 'posted', tweetId: resp.data?.id });\n  } catch (e) {\n    results.push({ category: post.category, status: 'failed', error: e.message });\n  }\n}\n\nreturn [{ json: { ...data, tweetResults: results } }];"
      },
      "id": "post-tweets",
      "name": "Post Tweets to X",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === Instagram Single Image Post via Graph API ===\n// Posts one item at a time (first pick from the batch)\n// Uses System User token (permanent, no expiry)\n//\n// REPLACE these with your real values:\nconst IG_USER_ID = '17841436221523604';\nconst ACCESS_TOKEN = 'EAASCIjhOZCgMBRCpmzEw6zXbZA1VSZABhvR1TtJABDEzqcFphAxtsYoK0bYEnBADmE7qRkCyHqne6aj5hd1nLMPMiopzb7llbZBlf9E9WJtUmrleRUBAMli0EUSuQEA7ol1GZCNNOO7webD02cHYCUDPzDFt9mpxnV0KIGODsckoWn6JZC1NXDF3Awmkf9MgZDZD';\nconst API_VERSION = 'v25.0';\n\n// Category images hosted on allfreealerts.com/social/\n// 3 variations per category for visual variety\nconst IMAGES = {\n  Sweepstakes: [\n    'https://allfreealerts.com/social/sweepstakes_1.png',\n    'https://allfreealerts.com/social/sweepstakes_2.png',\n    'https://allfreealerts.com/social/sweepstakes_3.png'\n  ],\n  Freebies: [\n    'https://allfreealerts.com/social/freebies_1.png',\n    'https://allfreealerts.com/social/freebies_2.png',\n    'https://allfreealerts.com/social/freebies_3.png'\n  ],\n  Settlements: [\n    'https://allfreealerts.com/social/settlements_1.png',\n    'https://allfreealerts.com/social/settlements_2.png',\n    'https://allfreealerts.com/social/settlements_3.png'\n  ]\n};\nconst DEFAULT_IMAGE = 'https://allfreealerts.com/social/freebies_1.png';\n\nconst data = $input.first().json;\nconst posts = data.igPosts || [];\n\nif (posts.length === 0) {\n  return [{ json: { ...data, igResults: [{ status: 'skipped', reason: 'no posts' }] } }];\n}\n\nconst igResults = [];\n\nfor (const post of posts) {\n  try {\n    // Pick a random category image\n    const catImages = IMAGES[post.category] || IMAGES.Freebies;\n    const imageUrl = catImages[Math.floor(Math.random() * catImages.length)];\n\n    // Step 1: Create media container (form data for proper emoji encoding)\n    const containerResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://graph.facebook.com/${API_VERSION}/${IG_USER_ID}/media`,\n      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: new URLSearchParams({\n        image_url: imageUrl,\n        caption: post.igCaption,\n        access_token: ACCESS_TOKEN\n      }).toString()\n    });\n\n    const containerId = containerResp.id;\n\n    // Step 2: Wait for container to be ready (poll status)\n    let ready = false;\n    let attempts = 0;\n    while (!ready && attempts < 10) {\n      await new Promise(resolve => setTimeout(resolve, 3000));\n      const statusResp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://graph.facebook.com/${API_VERSION}/${containerId}?fields=status_code&access_token=${ACCESS_TOKEN}`\n      });\n      if (statusResp.status_code === 'FINISHED') ready = true;\n      else if (statusResp.status_code === 'ERROR') throw new Error('Container creation failed: ' + JSON.stringify(statusResp));\n      attempts++;\n    }\n\n    if (!ready) throw new Error('Container not ready after 30s');\n\n    // Step 3: Publish\n    const publishResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `https://graph.facebook.com/${API_VERSION}/${IG_USER_ID}/media_publish`,\n      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: new URLSearchParams({\n        creation_id: containerId,\n        access_token: ACCESS_TOKEN\n      }).toString()\n    });\n\n    igResults.push({\n      category: post.category,\n      title: post.title,\n      status: 'posted',\n      mediaId: publishResp.id\n    });\n  } catch (e) {\n    igResults.push({\n      category: post.category,\n      title: post.title,\n      status: 'failed',\n      error: e.message\n    });\n  }\n}\n\nreturn [{ json: { ...data, igResults } }];"
      },
      "id": "post-ig",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === Facebook Page Post via Graph API ===\n// Posts a daily roundup to the All Free Alerts Facebook Page\n// Uses the Page Access Token from the System User\n\nconst PAGE_ID = '1127348030451082';\nconst ACCESS_TOKEN = 'EAASCIjhOZCgMBROPK3EAZChZB6YHsw8cEQxbyechAPOqYhZCpAYyu15LkSd0CyNvc6CFvldUZAZAPHgIPWe1xUcPg0pXYbBtE7NvzT2GlLzHQ9RZAH2vA0mlfXH9WWS4ZBOgHXQ97RMf6eROSgpK4eRoLyuaje7ZB4hUUJa8TZAhWcduv0klZAzFY3ZAunNHsR6UwTXbl9k0XVtH';\nconst API_VERSION = 'v25.0';\n\nconst data = $input.first().json;\nconst fbText = data.fbText;\n\nif (!fbText) {\n  return [{ json: { ...data, fbResult: { status: 'skipped', reason: 'no text' } } }];\n}\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/${API_VERSION}/${PAGE_ID}/feed`,\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: new URLSearchParams({\n      message: fbText,\n      link: 'https://allfreealerts.com',\n      access_token: ACCESS_TOKEN\n    }).toString()\n  });\n\n  return [{ json: { ...data, fbResult: { status: 'posted', postId: resp.id } } }];\n} catch (e) {\n  return [{ json: { ...data, fbResult: { status: 'failed', error: e.message } } }];\n}"
      },
      "id": "post-fb",
      "name": "Post to Facebook Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily at Noon": {
      "main": [
        [
          {
            "node": "Get Latest Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Data": {
      "main": [
        [
          {
            "node": "Pick Items & Create Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Items & Create Posts": {
      "main": [
        [
          {
            "node": "Post Tweets to X",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
